__pycache__/solar_model.cpython-314.pyc
__pycache__/solar_input.cpython-312.pyc
__pycache__/solar_model.cpython-312.pyc
__pycache__/solar_objects.cpython-312.pyc
__pycache__/solar_vis.cpython-312.pyc
